{% extends "global/base.html" %}


{% block title %}Register |{% endblock title %}

{% block content %}

    <div class="main-content container center">
        <h2>Registro</h2>  
    </div>

    {% include "global/message.html" %}

    <div class="main-content container center">

        
        
        <form action="{% url "authors:register_create" %}" method="POST">
                
            {% csrf_token %}

            <div class="form-content form-content-grid">

                {% for fild in form %}

                    <div class="form-group">

                        <label for="{{ fild.id_for_label }}">{{ fild.label }}</label>
                        
                        {{ fild }}

                        {% if fild.help_text %}

                            <p class="help-text">{{ fild.help_text }}</p>

                        {% endif %}

                        {{ fild.errors }}

                    </div>
    
                {% endfor %}

            </div>

            <div class="form-content form-content-grid">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </div>


        </form>
        
       

        
    </div>

{% endblock content %}
